.gradle/6.9/gc.properties
.gradle/6.9/executionHistory/executionHistory.bin
.gradle/6.9/executionHistory/executionHistory.lock
.gradle/6.9/fileChanges/last-build.bin
.gradle/6.9/fileHashes/fileHashes.bin
.gradle/6.9/fileHashes/fileHashes.lock
.gradle/6.9/fileHashes/resourceHashesCache.bin
.gradle/6.9/javaCompile/classAnalysis.bin
.gradle/6.9/javaCompile/jarAnalysis.bin
.gradle/6.9/javaCompile/javaCompile.lock
.gradle/6.9/javaCompile/taskHistory.bin
.gradle/7.2/gc.properties
.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.2/dependencies-accessors/gc.properties
.gradle/7.2/executionHistory/executionHistory.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/fileChanges/last-build.bin
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/7.2/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/vcs-1/gc.properties
.idea/jarRepositories.xml
.idea/workspace.xml
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_1_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_1.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_6_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_6_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v13_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_2_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_multidex_multidex_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_2_0_alpha01_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__cards_pay_paycardsrecognizer_1_1_0_aar.xml
.idea/libraries/Gradle__com_airbnb_android_lottie_2_8_0_aar.xml
.idea/libraries/Gradle__com_asksira_android_cameraviewplus_0_9_5_aar.xml
.idea/libraries/Gradle__com_facebook_device_yearclass_yearclass_2_1_0.xml
.idea/libraries/Gradle__com_github_aabhasr1_OtpView_v1_1_2_aar.xml
.idea/libraries/Gradle__com_github_clans_fab_1_6_4_aar.xml
.idea/libraries/Gradle__com_github_corouteam_GlideToVectorYou_v2_0_0_aar.xml
.idea/libraries/Gradle__com_github_ittianyu_BottomNavigationViewEx_2_0_4_aar.xml
.idea/libraries/Gradle__com_github_NightWhistler_HtmlSpanner_0_4.xml
.idea/libraries/Gradle__com_github_rtoshiro_mflibrary_mflibrary_1_0_0_aar.xml
.idea/libraries/Gradle__com_github_tosslife_pullloadview_1_1_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_ads_identifier_16_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_16_0_1_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_16_2_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_16_5_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_api_16_5_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_base_16_5_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_impl_16_5_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_16_5_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_sdk_api_16_5_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_stats_16_0_1_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_16_0_1_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_6_3.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
.idea/libraries/Gradle__com_google_firebase_firebase_analytics_16_5_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_core_16_0_9_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_18_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_16_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_17_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_messaging_18_0_0_aar.xml
.idea/libraries/Gradle__com_jakewharton_picasso_picasso2_okhttp3_downloader_1_1_0.xml
.idea/libraries/Gradle__com_jakewharton_threetenabp_threetenabp_1_1_1_aar.xml
.idea/libraries/Gradle__com_maksim88_PasswordEditText_v0_9_aar.xml
.idea/libraries/Gradle__com_microsoft_appcenter_appcenter_4_3_1_aar.xml
.idea/libraries/Gradle__com_microsoft_appcenter_appcenter_analytics_4_3_1_aar.xml
.idea/libraries/Gradle__com_microsoft_appcenter_appcenter_crashes_4_3_1_aar.xml
.idea/libraries/Gradle__com_mikhaellopez_circularimageview_3_0_2_aar.xml
.idea/libraries/Gradle__com_sebchlan_picassocompat_picassocompat_1_2_0_aar.xml
.idea/libraries/Gradle__com_sebchlan_picassocompat_picassocompat_252_1_2_0_aar.xml
.idea/libraries/Gradle__com_sebchlan_picassocompat_picassocompat_271828_1_2_0_aar.xml
.idea/libraries/Gradle__com_sebchlan_picassocompat_picassocompat_parent_1_2_0_aar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_3_4_1.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_12_1.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_urlconnection_3_4_1.xml
.idea/libraries/Gradle__com_squareup_okio_okio_1_15_0.xml
.idea/libraries/Gradle__com_squareup_picasso_picasso_2_5_2.xml
.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_1_0.xml
.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_4_0.xml
.idea/libraries/Gradle__com_tomergoldst_android_tooltips_1_0_10_aar.xml
.idea/libraries/Gradle__com_vicmikhailau_MaskedEditText_2_0_4_aar.xml
.idea/libraries/Gradle__com_zendesk_belvedere_1_1_1_1_aar.xml
.idea/libraries/Gradle__com_zendesk_java_common_1_14.xml
.idea/libraries/Gradle__com_zopim_android_sdk_1_4_5_aar.xml
.idea/libraries/Gradle__com_zopim_android_sdk_api_1_4_5_aar.xml
.idea/libraries/Gradle__io_sentry_sentry_3_1_0.xml
.idea/libraries/Gradle__io_sentry_sentry_android_3_1_0_aar.xml
.idea/libraries/Gradle__io_sentry_sentry_android_core_3_1_0_aar.xml
.idea/libraries/Gradle__io_sentry_sentry_android_ndk_3_1_0_aar.xml
.idea/libraries/Gradle__net_sourceforge_htmlcleaner_htmlcleaner_2_2.xml
.idea/libraries/Gradle__org_apache_ant_ant_1_7_0.xml
.idea/libraries/Gradle__org_apache_ant_ant_launcher_1_7_0.xml
.idea/libraries/Gradle__org_bouncycastle_bcpkix_jdk15to18_1_68.xml
.idea/libraries/Gradle__org_bouncycastle_bcprov_jdk15to18_1_68.xml
.idea/libraries/Gradle__org_jdom_jdom_1_1.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_6_10.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_72.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_6_10.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_6_10.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_72.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_4_32.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_3_72.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_4_32.xml
.idea/modules/MiBanka4-android-git2.iml
.idea/modules/app/MiBanka4-android-git2.app.iml
.idea/modules/calendar/MiBanka4-android-git2.calendar.iml
.idea/modules/qrcodescanner/MiBanka4-android-git2.qrcodescanner.iml
app/homol/3.2.0-homol.apk
app/homol/output.json
